<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <title>First Server</title>
    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>


<body>

<header>
    <nav class="header-content">
        <input type="checkbox" id="check">
        <label for="check" class="check-button">
            <i class="fas fa-bars"></i>
        </label>
        <a href=/ class="logo">DOCTOR</a>
        <ul>
            <li><a href="/patients">Patients</a></li>
            <li><a href=/ class="button header" id="log-out-button">Log out</a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="cover__container">
        <picture>
            <img class="img__svg-cover" src="../public/assets/medicine.svg" alt="">
            <img class="img__svg-cover" src="assets/medicine.svg" alt="">
        </picture>
    </div>
    <!-- <div class="title">
        <h1>welcome dr. strange</h1>
    </div> -->
</main>

<footer>
    <div class="footer-cont">
        <div class="contact-cont">
            <div class="contact__tittle-cont">
                <h3>Made by UCSP students</h3>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
