/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
0.0 Variables
2.0 Typography
3.0 Layout
	3.1 Header
	3.2 login Page
	3.2 contact Page
	3.3 Footer

*/

/*--------------------------------------------------------------
2.1 Header
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.3 Footer
--------------------------------------------------------------*/
.contact__tittle-cont > h3 {
	font-size: 1.8rem;
	padding-top: 0.4rem;
	padding-bottom: 1rem;
}
